.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.formAuth
{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.inputAuth
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:15%;
    margin-top:0.5em;
}
.submit{
    width:100%
}
@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
